 #productSlider{
    .carousel {
        &-item {
            height: 500px;
            >img {
                height: 100%;
                object-fit: cover;
            }
        }

        &-caption {
            top: 30% !important;
            p {
                text-shadow: 7px 5px 6px rgba(0, 0, 0, 0.8);
            }
        }
    }
 }